html { /*couleur du fond de page*/
	background-color: black;
}

body {
	background-color: #c3d9eb;
	background-size: cover;
	width:1100px ;
	height:1500px ;
	margin:auto;
}

header {
	width: 1100px;
	height: 220px;
	background-color: black;
}

h1 { /*nom site*/
	font-family: Arial;
	font-size: 40px;
	color: #353a9e;
}

.Logo { /*logo en dessous nom du site*/
	height: 100px;
	width: 100px;
	position: absolute; 
	top: 62px; 
	left: 200px;
}

.Menu {
	position: absolute;
	right: 124px;
	top: 200px;
}

ul {
	list-style-type: none;
	
}

li {
	display: inline;
	list-style: none;
	padding: 0 2em;/*espacer les bouton*/
}

.Menu a {
	text-decoration: none;
	color: #353a9e;
}

.Menu a:hover { /*change couleur du menu*/
	color: #c3d9eb;
}

main {
	width: 900px;
}

.Presentation {  /*Image presentation*/
	width: 900px;
	height: 450px;
	margin-left: 100px ;
}

.Moi { /*Image de qui suis-je*/
	width: 350px;
	height: 300px;
	margin-left: 150px;
}

h2{
	margin-left: 150px;
	text-align: center;
}

p {
	margin-left: 150px;
	text-align: center-left;
}



